
body{
    background-image: url("image/image.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background:rgba(255, 255, 255, 0.9) ;
   padding: 30px;
   box-shadow: 0 10px 30px;
   max-width: 500px;
   width: 100%;
   border-radius: 10px;
}
.form h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.regain-info{
    text-align: center;
    font-size: 25px;
   margin-bottom: 20px;
   font-family:'Times New Roman', Times, serif;
}
.info-group{
    margin-bottom: 20px;
}
.info-group label{
display: block;
margin-bottom: 8px;
font-size: 30px;
font-weight: 800;
color: aquamarine;
}
.info-group input{
    width: 95%;
    padding: 13px;
    border: 2px solid rgb(92, 92, 185);
    font-size: 20px;
    border-radius: 80px;
    border: 2px solid blue ;
}
button{
    width: 100%;
    padding: 13px;
    background-color: aquamarine;
    border: none;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 600;
    color: blue;
}
button:hover{
    background-color: aliceblue;
}
.link{
    margin-top:50px;
    text-align: center;
    font-size: 20px;
}
.link a{
    color: aquamarine  ;
    text-decoration: none;
    font-weight: 600;
}

